/* The slow way */
.attackLogo {
	box-shadow: 0 0 0 rgba(0,0,0,0.15);
	transition: box-shadow, 0.2s ease-in-out;
	transition: width, 0.2s ease-in-out;
  }
  
  /* Transition to a bigger shadow on hover */
  .attackLogo:hover {
	box-shadow: 0 8px 6px -6px black;

  }

  .attackLogo:active {
	  width: 60%;
  }

  .modal-body {
    color: black;
  }
  
  .modal-header {
    color: black;
  }


 